doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    center
        h1 #{group}
        | <a href='/'>Main Index</a> - <a href='/submit'>Submit</a>
    block content
