extends layout

block content

    h3 Submit to #{group}
    
    br

    form(action = '/submit', enctype='multipart/form-data', method = 'post')

        p Title
        textarea(name='title', rows='1', cols='80')

        p Submitter
        textarea(name='submitter', rows='1', cols='40')

        p Summary
        textarea(name='summary', rows='4', cols='80')

        p Files
        input(type='file', name='file1', size='40')
        input(type='file', name='file2', size='40')
        input(type='file', name='file3', size='40')

        p Body
        textarea(name='submitarea', rows='20', cols='80', placeholder='Optional')
        br

        input(type='submit', name='submitbtn', value='Submit').submit-button


